<!DOCTYPE html>
<html>
  <head>
    <title>XpgDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class="alert alert-danger">
      This is a demo for <a href="https://github.com/snex/xpg", target="_new">XPG</a>. The code for it is <a href="https://github.com/snex/xpg-demo", target="_new">here</a>. This demo uses the monero STAGENET. DO NOT SEND REAL MONERO TO ANY ADDRESSES GIVEN HERE. IT WILL BE LOST FOREVER AND I AM NOT RESPONSIBLE FOR IT.
    </div>
    <%= yield %>
  </body>
</html>
